
<h1>You are literally insane if you think I'm going <br> to make 8 unique pages for this meme-site</h1>

<h2>If you want to go back to the main page click <a href="/">here</a></h2>

<h3>I do appreciate you being here though, so here is a funny picture</h3>
<img src="img/ayos.png" alt="lol">