<!-- include header -->
<%- include('include/_header') %>
<!-- include header -->

<h1>Hey there, to get in touch with the director, send him a message on instagram</h1>
<a href="https://www.instagram.com/ladieslovelance_/"><h1>Here's the link!</h1></a>

<br>
<h2>If you want to go back to the main page click <a href="/">here</a></h2>
<br>
<br>
<br>
<h5> Yes I'm too lazy to finish this page, it gets the job done <br> -Pablo</h5>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- include footer -->